doctype html
html
	head
		link(rel='stylesheet', href='/index.css', type='text/css')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin='anonymous')
	body
		if user
			.nav.navbar.navbar-default( role="navigation" )
				.navbar-header.col-md-2
					h5.head sup dude
				.active.col-md-8
					a#logout(href='/logout')
						h5.head don't log out	
				.active.col-md-2
					h5.head logged in as #{user.username}
			.container
				.row
					.col-md-5.col-sm-6.col-xs-12
						.col-md-12
							h3#blogText write a message!
							form(action = '/blogs' method='post')
								input#title(placeholder='title' name='title')
								input.bodySubmit(placeholder='body' name='body')
								input.titleSubmit(type='submit' value='post' class='postButton')
						.col-md-12
							h3#mineText my messages
							each blog in blogs
								if(blog.userId == user.username)
									.well
										.post.container-fluid
											a(id= blog.id, href="/blog/" + blog.id + '#' + blog.id) 
												h4= blog.title	
											h5(class='blogbody')= blog.body
											h6#ref= " - " + blog.userId
											br
										.comment.container-fluid
											if(blog.id == blogID)
												if(comments == 'no comments')
													em write a reaction
													form(action = '/comment' method='post')
														input(placeholder='title' name='comment')
														input(type='submit' value='post')
												else
													each comment in comments
														p(class='blogbody')= comment.userId +' ' + 'says: ' + " "+ comment.comment
													form(action = '/comment' method='post')
														input(placeholder='title' name='comment')
														input(type='submit' value='post')
					.col-md-4.col-sm-6.col-xs-12
						h3#activityText latest Post..
						.well
							.post.container-fluid
								a(id= blogs[0].id + "latest", href="/blog/" + blogs[0].id + '#' + blogs[0].id + "latest") 
										h5= blogs[0].title
									h5(class='blogbody')= blogs[0].body
									h6#ref= " - " + blogs[0].userId
									br
							.comment.container-fluid
								if(blogs[0].id == blogID)
									if(comments == 'no comments')
										em write a reaction
										form(action = '/comment' method='post')
											input(placeholder='title' name='comment')
											input(type='submit' value='post')
									else
										each comment in comments
											p(class='blogbody')= comment.userId +' ' + 'says: ' + " "+ comment.comment
										form(action = '/comment' method='post')
											input(placeholder='title' name='comment')
											input(type='submit' value='post')										
						h3#otherText not my messages..
						each blog in blogs
							if(blog.userId !== user.username && blog.id !== blogs.length)
								.well
									.post.container-fluid
										a(id= blog.id, href="/blog/" + blog.id + '#' + blog.id) 
											h5= blog.title
										h5(class='blogbody')= blog.body
										h6#ref= " - " + blog.userId
										br
									.comment.container-fluid
										if(blog.id == blogID)
											if(comments == 'no comments')
												em write a reaction
												form(action = '/comment' method='post')
													input(placeholder='title' name='comment')
													input(type='submit' value='post')
											else
												each comment in comments
													p(class='blogbody')= comment.userId +' ' + 'says: ' + " "+ comment.comment
												form(action = '/comment' method='post')
													input(placeholder='title' name='comment')
													input(type='submit' value='post')
					.col-md-2.col-sm-6.col-xs-12
						h3#listText Bloglist
						br
						each blog in blogs
							- var x = '#' + blog.id
							a(href= "/blog/" + blog.id + x)
								h5= blog.title
								h6#ref= " - " + blog.userId
								br