html
	head
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
	body
		if user
			h5(style='float:right ; padding-right:30px')= message
			each blog in blogs
				- var blogId = blog.id
				- var bonkie = blogId.toString
				p(id=blog.title)= blog.title
				p(id=blog.body)= blog.body
					a(href="/"+blog.id)= blog.title + " - " + blog.userId
					br
					
			a(href='/logout') don't logout

			form(action = '/blogs' method='post')
				input#title(placeholder='title' name='title')
				input#body(placeholder='body' name='body')
				input(type='submit' value='post' class='postButton')
		else
			h3 login
			form.loginForm(action = '/login' method='post')
				input#username(placeholder='username' name='username')
				input#password(placeholder='password' name='password')
				input.loginButton(type='submit' value='login' class='loginButton')
			h3 or.. register 
			form.registerForm(action = '/register' method='post')
				input#addUser(placeholder='pick a username' name='addUser')
				input#addPass(placeholder='choose your password' name='addPass')
				input#addEmail(placeholder='give us your emailadress' name='addEmail')
				input.registerButton(type='submit' value='register' class='registerButton')
			br
			h2= message
	script.
		$(document).ready(function(){
			var test = $('#10').text();
			console.log(test);
		})

		
